.content-container{
    min-height: calc(100vh - 186px);
    background-color: #e6eff7;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 1120px;
}

.content-wrapper{
    display: flex;
    position: relative;
}
.search-bar{
    width: 96%;
    height: 120px;
    background-color: #ffffff;
    margin-top: 20px;
    border-radius: 1px;
}
.select-box{
    margin-left: 16px;
    position: relative;
}
.search-bar-header{
    margin-top: 8px;
    margin-left: 8px;
}
.search-bar .row, .post-list .row{
    margin-left: 0px;
    margin-right: 0px;
    white-space: nowrap;
    align-items: center;
}
.search-bar .select{
    padding-left: 28px;
    height: 32px;
    border: solid 1px #BDBDBD;
}
.select-icon{
    position: absolute;
    top: 7px;
    left: 8px;
}
.search-bar form button{
    margin-left: 24px;
    margin-right: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.post-list{
    width: 90%;
    margin-bottom: 40px;
    padding-top: 6px;
}
.short-post{
    position: relative;
    width: 100%;
    height: 200px;
    margin-top: 20px;
    border-radius: 4px;
    background-color: #ffffff;
    padding-left: 16px;
}
.post-list .row{
    margin-left: 0px;
    margin-right: 0px;
    white-space: nowrap;
    align-items: center;
}
.short-info{
    margin-left: 40px;
}
.short-info p{
    margin: 0;
}
.btn-container{
    position: absolute;
    top: 28px;
    right: 56px;
    width: 100px;
}
.contest-name{
    font-weight: bold;
    font-size: 24px;
}
.price{
    color: red;
    font-weight: bold;
    margin-left: 4px;
}
div.short-post.row{
    color: #1976D2;
}
.paging{
    margin-top: auto;
    height: 80px;
    font-family: monospace;
    color: #007bff;
    font-size: 18px;
    user-select: none;
}
.paging .active{
    pointer-events: none;
}
.paging .page-link:hover{
    background-color: #90caf9;
    border: solid 1px #90caf9;
    color: #fff !important;
}
.disable{
    color: #9E9E9E;
    pointer-events: none;
}
.short-post a:hover{
    text-decoration: none;
}

.autocomplete {
    position: relative;
    display: inline-block;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 15px;
    right: 15px;
  }
.autocomplete-items div {
    padding: 8px 10px 8px 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}.search-bar form button.text-search{
    margin-left: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    height: 40px;
    cursor: pointer;
}
.owner-option{
    position: absolute;
    top: 20px;
    right: 170px;
}
.owner-option button.btn{
    height: 39px;
    margin-left: 4px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.admin-option{
    position: absolute;
    top: 20px;
    right: 37px;
}
.admin-home-option{
    position: absolute;
    top: 20px;
    right: 165px;
}
.admin-option button .admin-home-option button{
    margin-left: 4px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.btn-reportdetail-container{
    position: absolute;
    top: 158px;
    right: 38px;
    width: 100px;
}